@page "/users/details"
@attribute [Authorize(Roles = "Administrator")]
@using Microsoft.EntityFrameworkCore
@using FinalProjectGroup6.Models
@using Microsoft.AspNetCore.Authorization
@inject IDbContextFactory<FinalProjectGroup6.Data.FinalProjectGroup6Context> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Details</PageTitle>

<h1>Details</h1>

<div>
    <h2>User</h2>
    <hr />
    @if (user is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">UserName</dt>
            <dd class="col-sm-10">@user.UserName</dd>
            <dt class="col-sm-2">Role</dt>
            <dd class="col-sm-10">@user.Role</dd>
            <dt class="col-sm-2">Password</dt>
            <dd class="col-sm-10">@user.Password</dd>
            <dt class="col-sm-2">FirstName</dt>
            <dd class="col-sm-10">@user.FirstName</dd>
            <dt class="col-sm-2">LastName</dt>
            <dd class="col-sm-10">@user.LastName</dd>
            <dt class="col-sm-2">AddressId</dt>
            <dd class="col-sm-10">@user.AddressId</dd>
            <dt class="col-sm-2">StreetAddress</dt>
            <dd class="col-sm-10">@address.StreetAddress</dd>
            <dt class="col-sm-2">City</dt>
            <dd class="col-sm-10">@address.City</dd>
            <dt class="col-sm-2">State</dt>
            <dd class="col-sm-10">@address.State</dd>
            <dt class="col-sm-2">ZipCode</dt>
            <dd class="col-sm-10">@address.ZipCode</dd>
            <dt class="col-sm-2">EmailAddress</dt>
            <dd class="col-sm-10">@user.EmailAddress</dd>
            <dt class="col-sm-2">DateOfBirth</dt>
            <dd class="col-sm-10">@user.DateOfBirth</dd>
            <dt class="col-sm-2">PhoneNumber</dt>
            <dd class="col-sm-10">@user.PhoneNumber</dd>
            <dt class="col-sm-2">ShelterId</dt>
            <dd class="col-sm-10">@user.ShelterId</dd>
        </dl>
        <div>
            <a href="@($"/users")">Back to List</a>
        </div>
    }
</div>

@code {
    private User? user;
    private Address? address;

    [SupplyParameterFromQuery]
    private int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        user = await context.User.FirstOrDefaultAsync(m => m.Id == Id);
       
        if (user is null)
        {
            NavigationManager.NavigateTo("notfound");
        }

        address = await context.Address.FirstOrDefaultAsync(address => address.Id == user.AddressId);

        if (address is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }
}
